.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/biniyam-photos/1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.cover {
  min-height: 80vh;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video {
  max-height: 600px;
}

.page-title {
  font-size: 55;
  color: white;
  text-align: center;
}

/* @media (max-width: 768px) {
  
} */