.container {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, green, yellow, red) 1;
  padding: 90px;
}

@media (max-width: 768px) {
  .container {
    padding: 30px;
  }
}

.page-title {
  text-align: center;
  font-size: 40px;
  color: white;
}

.featured-products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
}


/* Product Card */

.product-card {
  font-family: var(--font-montserrat), sans-serif;
  background-color: #232323;
  border: 2px solid rgb(71, 71, 71);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0px #262626;
}

.product-img img {
  height: auto;
  display: block;
  background-color: #000000;
}

.product-text-cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-top: 2px solid #000;
}

.product-title {
  font-size: 1.2rem;
  /* font-weight: 900; */
  color: white;
  margin: 0;
  /* text-transform: uppercase; */
}

.product-price {
  font-size: 1.2rem;
  /* font-weight: 700; */
  color: white;
  margin: 0;
}

.product-btn-cover {
  display: flex;
}

.cart-btn {
  flex-grow: 1;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
  /* font-weight: 700; */
  text-transform: uppercase;
  border: none;
  border-top: 2px solid #000;
  border-radius: 0;
  background-color: #000;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.cart-btn:hover {
  background-color: #161616;
}



/* See More Button */

.more-btn {
  cursor: pointer;
  padding: 10px;
  padding-left: 21px;
  padding-right: 21px;
  background-color: black;
  border: 1px solid rgb(71, 71, 71);
  color: white;
  transition: color 0.1s ease, background-color 0.1s ease, border 0.1s ease;
}

.more-btn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}