:root {
  --clr-green: rgba(0, 153, 66);
  --clr-yellow: rgb(255, 217, 0);
  --clr-red: rgba(206, 17, 38);
  --clr-dark: #1a1a1a;
  --clr-light: #ffffff;
}

.hero-container {
  position: relative;
  min-height: 89vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
}

.hero-container::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/lyon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.1;
  z-index: 0;
}

.hero-container > * {
  position: relative;
  z-index: 1;
}

/* --- Page Content */

.hero-header {
  font-family: var(--font-bebas-neue), sans-serif;
  /* font-weight: 900; */
  text-transform: uppercase;
  color: var(--clr-light);
  margin-bottom: 1.5rem;
  font-size: clamp(2.5rem, 10vw, 8rem);
  line-height: 1.1;
  cursor: none;
  user-select: none;
}

.hero-btn { 
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  font-family: var(--font-bebas-neue), sans-serif;
  font-size: 1.25rem;
  /* font-weight: 700; */
  width: 100%;
  border: none;
  background: linear-gradient(
    to bottom,
    var(--clr-green) 0%,
    var(--clr-green) 33.33%,
    var(--clr-yellow) 33.33%,
    var(--clr-yellow) 66.67%,
    var(--clr-red) 66.67%,
    var(--clr-red) 100%
  );
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  color: white;
  font-size: 25px;
}

.hero-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  border: 1px solid rgb(71, 71, 71);
  z-index: -1; 
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  font-size: 25px;
}

.hero-btn:hover::before {
  opacity: 0;
}

.hero-btn:hover {
  color: black;
  transform: translateY(-3px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  .hero-header {
    font-size: clamp(2rem, 10vw, 2rem);
  }
  .btn-text {
    font-size: 20px;
  }
  .hero-header span {
    display: block;
  }
  .mobile-effect-1 {
    font-size: 50px;
  }
  .mobile-effect-2 {
    font-size: 55px;
  }

  .hero-container {
    position: relative;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    text-align: center;
    background-color: black;
  }

  .hero-container::before {
    background-position: -120px center;
    background-size: cover;
  }
}
