@import "tailwindcss";

body {
  background-color: black;
}

.red {
  transition: color 0.01s ease;
}

.red:hover {
  color: var(--color-red-700);
}

.yellow {
  transition: color 0.01s ease;
}

.yellow:hover {
  color: var(--color-yellow-500);
}

.green {
  transition: color 0.01s ease;
}

.green:hover {
  color: var(--color-green-700);
}


/* @media (max-width: 768px)  {

} */



/* MAIN BUTTONS */

.add-art-btn {
  flex-grow: 1;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
  /* font-weight: 700; */
  text-transform: uppercase;
  border: none;
  border-top: 2px solid #000;
  border-radius: 0;
  background-color: #000;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.add-cart-btn:hover {
  background-color: #161616;
}