.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.navbar-cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
}

.navbar-logo {
  width: 140px;
}

.navbar-btn {
  cursor: pointer;
  padding: 10px;
  padding-left: 21px;
  padding-right: 21px;
  background-color: black;
  border: 1px solid white;
  color: white;
  font-weight: 700;
  transition: color 0.1s ease, background-color 0.1s ease, border 0.1s ease;
}

.navbar-btn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}