:root {
  --clr-light: #ffffff;
  --clr-grey: #a0a0a0;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: black;
}

.navbar-cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
}

.navbar-btns-container {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.navbar-btn {
  cursor: pointer;
  padding: 10px 21px;
  background-color: black;
  border: 1px solid rgb(71, 71, 71);
  color: white;
  transition: all 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-btn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.navbar-icon-btn {
  color: var(--clr-light);
  font-size: 20;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-icon-btn p {
  margin-left: 5px;
}

.navbar-icon-btn:hover {
  color: var(--clr-grey);
}

.navbar-icon-cover {
 display: absolute;
}
